*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url('../img/linegrey.jpg');
	background-size: 100vw 100vh;
	color: whitesmoke;
	font-family: 'Source Code Pro', monospace;
	height: 100vh;
	font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu{
	background-color: white;
	font-size: 1.2em;
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 1;
}

.menu ul{
	display: flex;
	justify-content: space-around;
}

.menu li{
	list-style: none;
}

a{
	color:#242f3a;
	text-decoration: none;
}

.menu a{
	display: block;
	padding: 10px 116px 10 116px;
	transition: background-color 1s, color 1s;
}

.menu a:hover{
	background-color: #242f3a;
	color: whitesmoke;
	text-decoration: solid;
}

.titulo {
	transform: scale(0.2) translateY(50vh);
	opacity: 0;
	animation: 1s ease 2s animacaoTitulo forwards;
  }

@keyframes animacaoTitulo {
from {
	transform: scale(0.2) translateY(50vh);
	opacity: 0;
}
to {
	transform: scale(1) translateY(0);
	  opacity: 1;
	}
}  

.site-title, 
.site-subtitle{
	color: whitesmoke;
	font-family: 'Bellota Text', cursive;
	text-align: center;
}

.site-title{
	font-size: 100px;
}

.site-subtitle{
	font-style: italic;
	font-size: 40px;
}

.sobre,
.portfolio,
.contato
 {
  padding: 2em;
  min-height: 100vh;
  height: 100vh;
}

@media (min-width: 1200px) {
	.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}
}

.sobre h2,
.portfolio h2,
.contato h2 {
	font-family: 'Bellota Text', cursive;
	color: whitesmoke;
	margin-top: .8em;  
  	margin-bottom: 1em;
	font-size: 2em;
	text-align: center;
}

.sobre p{
	text-indent: 2em;
	margin-bottom: 1em;
	text-align: justify;
}

.sobre .avatar{
	float: right;
	margin-left: 1em;
}

.img-sobre{
	height: 450px;
	width: 364px;
}

.sobre .avatar img{
	border-radius: 2%;
}

@media(min-width:1200px){
	.sobre,
	.portfolio,
	.contato{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;	
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
.portfolio .grid {
	grid-template-columns: 240px 240px;
}
}

@media (min-width: 880px) {
.portfolio .grid {
	grid-template-columns: repeat(3, 260px);
	align-content: center;
	justify-content: center;
	height: calc(100vh - 8em - 48px);
	}
}


.flip-card {
	height: 180px;
	perspective: 1000px;
}
  
.flip-card:hover .card {
	transform: rotateY(180deg);
}
  
.card {
	position: relative;
	transform-style: preserve-3d;
	transition: transform 3s;
}
  
.card-front, 
.card-back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
  
.card-back {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, .7);
	height: 180px;
	width: 100%;
	transform: rotateY(180deg);
}


.portfolio figure {
	text-align: center;
}

.img-portfolio {
height: 180px;
width: 240px;
object-fit: cover;
object-position: left bottom;
transition: transform 500ms;
}

.img-portfolio:hover{
	transform: scale(1.25);
}

.contato .icons {
	text-align: center;
  }
  
.contato a {
	color: whitesmoke;
	font-size: 3em;
	padding: 0 45px 0 45px;
	transition: text-shadow 1s;
  }
  
.contato a:active,
.contato a:hover  {
	text-decoration: none;
	text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}
}